/* GERAL*/
* {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    background-color: white;
    /*background-attachment: fixed;
    width: 400px;
    height: 300px;*/
       
}

/*h1 {
    
    padding-left:60px;
    color: rgb(165, 34, 34);
    text-align: left;
    font-size: 50px;
    margin-top: px
}*/
.imagem1{
    width: 80px;
    height: 80px;
    padding-left: 40px;    
}
.imagem2{
  /*  display: block;*/
    width: 80px;
    height: 80px;
    padding-left: 40px;
}

h1{
    display: inline-block;
    color:#423737;
    position: relative;
    font-weight: 20x;
    font-size: 40px;
    margin-top: 100px;
    text-align: right;
   
    
}
.formacao{
    display: inline;
    color:#423737;
    position: relative;
    font-weight: 20x;
    font-size: 40px;
    margin-top: 100px;
    text-align: right;
    padding-left:;
}
p {
    margin-top:50px;
    padding-right: 50px;
    padding-left: 50px;
    text-align: center;
    font-size: 20px;
    font-family: monospace;
} 

h2 {
    /*padding: 0px 0px 0px 60px;
    color: rgb(165, 34, 34);
    text-align: left;
    font-weight: 20x;
    font-size: 40px;*/
    color: #423737;
    padding-left: 50px;
    position: relative;
    font-weight: 20x;
    font-size: 40px;
    margin-top: 100px;
    text-align: left;
}


header,footer{
    /*position: fixed;
    top:40;
    line-height:0;
    width:0;
    height:0;
    border-style: solid;
    border-color: #b96a49 ;
    border-width: 0px 160px 90px 1170px;
    margin: auto;*/
    text-align: center;
    padding: 30px;
    width: 100%;
    /*background: url(../img/download.jpeg);*/
    background-color: #b96a49
}

.botao-projeto-loja {
    background-color: #ffaf43;
    background: url(../img/folhas.jpg);
    background-size: 150px;
    width: 100px;
    height: 100px;
    margin-left: 500px;
    margin-top: 40px;
    /*border-radius: 0px; permite que fique em formato de círculo*/
    border-color: black;
    font-size: 20px;
    color: black;
    
}
.botao-projeto-blackjack {
    background-color: #ffaf43;
    background: url(../img/folhas.jpg);
    background-size: 150px;
    width: 100px;
    height: 100px;
    margin-left: 50px;
    margin-top: 40px;
    margin-bottom: 40px;
    border-color: black;
    font-size: 20px;
    color: black;
    
}


/* HOME*/


/* PROJ1*/



/* PROJ2*/



/* FORMCONTATO*/


